In [1]:
import selenium
import pandas as pd 
from selenium import webdriver
from selenium.webdriver.common.by import By

from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

import time

In [2]:
ind_driver = webdriver.Chrome(r"D:\chromedriver.exe")
ind_driver.maximize_window()
#This should open chrome webdriver and maximize the windows

In [3]:
#lets load the website
website = input('job site you want to scrape: ')
ind_driver.get(website)  
time.sleep(2)

job site you want to scrape: https://uk.indeed.com/

In [4]:
#Fill the job title sheet
job_title = ind_driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/span/div[3]/div[1]/div/div/div/div/form/div/div[1]/div/div[1]/div/div[2]/input")
role = input('Job title you want to find: ')
job_title.send_keys(role)
#we can also put this in a loop so that we agian and again can search different jobs

Job title you want to find: Software Developer

#Lets find the location
location = ind_driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/span/div[3]/div[1]/div/div/div/div/form/div/div[2]/div/div[1]/div/div[2]/input")
loc = input ('Location you want to search on : ')
location.send_keys(loc)

In [5]:
#lets find the job 
find_jobs = ind_driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/span/div[3]/div[1]/div/div/div/div/form/button")
find_jobs.click()
time.sleep(5)

In [6]:
cross = ind_driver.find_element(By.XPATH, "//button[@class = 'icl-CloseButton icl-Card-close']")
cross.click()
time.sleep(2)

In [7]:
accept_cookies = ind_driver.find_element(By.XPATH, "//button[@id = 'onetrust-accept-btn-handler']")
accept_cookies.click()
time.sleep(2)

In [8]:
#date sort
date_sort = ind_driver.find_element(By.XPATH, "//button[@id = 'filter-dateposted']")
date_sort.click()

day_sort = ind_driver.find_element(By.XPATH, "/html/body/main/div/div[1]/div/div/div[2]/div/div/div/div[2]/div/div[1]/ul/li[4]/a")
day_sort.click()
time.sleep(2)

In [9]:
#alert close

alert = ind_driver.find_element(By.XPATH, "/html/body/div[3]/div/div/div/div[1]/div/button")
alert .click()
time.sleep(2)

In [10]:
# Sort the jobs
posted_by = ind_driver.find_element(By.XPATH, "/html/body/main/div/div[1]/div/div/div[2]/div/div/div/div[2]/div/div[1]/button/div[1]")
posted_by.click()
time.sleep(2)

#sort by employer
employer = ind_driver.find_element(By.XPATH, "//a[@class = 'yosegi-FilterPill-dropdownListItemLink']")
employer.click()
time.sleep(4)

In [11]:
company_name = []
designation = []
date_days = []
job_link = []
company_link = []

In [12]:
# Lets create empty lists to store scrapped data

start = 0
end = 50


ind_driver.refresh()
time.sleep(3)

for i in range(start, end): # loop for jumping on next page
    
    job_role = ind_driver.find_elements(By.XPATH, "//a[@class = 'jcs-JobTitle css-jspxzf eu4oa1w0']")
    for j in job_role:
        jobs = j.text
        designation.append(jobs)
        
    companies = ind_driver.find_elements(By.XPATH, "//span[@class = 'companyName']")
    for j in companies:
        comp = j.text
        company_name.append(comp)
        
        
    url = ind_driver.find_elements(By.XPATH, "//a[@class = 'jcs-JobTitle css-jspxzf eu4oa1w0']")
    for j in url:
        link = j.get_attribute('href')
        job_link.append(link)
        
    
    companies_url = ind_driver.find_elements(By.XPATH, "//a[@class = 'turnstileLink companyOverviewLink']")
    for j in companies_url:
        link = j.get_attribute('href')
        company_link.append(link)
        
    date = ind_driver.find_elements(By.XPATH, "//div[@class = 'heading6 tapItem-gutter result-footer']/span[1]")
    for j in date:
            dates = j.text.split('\n')
            date_days.append(dates[1])
        
    time.sleep(2)
    
   
    
    try:#Exception handling if all the pages extracted succefully
        next_page =  ind_driver.find_element(By.XPATH, "/html/body/main/div/div[1]/div/div/div[5]/div[1]/nav/div[6]/a")
        next_page.click()
        time.sleep(2)
    except NoSuchElementException:
        print('All Pages extracted')
        
    
#lets print the length of the lists

print(len(designation))
print(len(company_name))
print(len(date_days))
print(len(job_link))

All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
All Pages extracted
696
696
696
696

In [13]:
print(date_days[63])
print(len(company_link))

Posted 1 day ago
467

In [ ]:
#Lets create a Data Frame so that all the list can be stored at one place
lead_data = pd.DataFrame({'Company Name': company_name, 'Designation': designation, 'Date/Day': date_days, 'Job Advert': job_link})
lead_data

In [15]:
#save the data frame into a CSV file.
new_file_name = input('Put the new file name with .csv ext: ')
lead_data.to_csv(new_file_name)

Put the new file name with .csv ext: 06-05-2023.csv

In [ ]:
#this code is use to fetch the number of review of each company page.
#so that we can sort the big companies with review.

review = []
company_name_direct = []

for i in company_link:
    cmpage = webdriver.Chrome(r'D:\chromedriver.exe')
    cmpage.maximize_window()
    cmpage.get(i)
    
    company = cmpage.find_element(By.XPATH, "//div[@itemprop = 'name']").text
    company_name_direct.append(company)
    
    
    review_d = cmpage.find_element(By.XPATH, "//a[@class = 'css-1opv4v0 emf9s7v0']/div").text
    review.append(review_d)
    
    time.sleep(2) 
#     print(company_name)
#     print(review)
    cmpage.close()

In [18]:
print(len(company_name))
print(len(review))

696
376

In [19]:
#Lets Create a Data Frame to store our review data
company_data = pd.DataFrame({'Company Name': company_name_direct, 'Company Review':review})
company_data

                     Company Name Company Review
0                             NHS           8.2K
1                      Met Office             40
2                     Home Office            258
3    Health and Social Care Trust              2
4         University of Cambridge            153
..                            ...            ...
371             Quotient Sciences             32
372     UK Health Security Agency              6
373     UK Health Security Agency             84
374      Thermo Fisher Scientific           4.3K
375                      Leonardo            281

[376 rows x 2 columns]

In [20]:
#Lets save the data into csv File for review data
file = input('Put the company name')
company_data.to_csv(file)

Put the company namereview.csv

In [22]:
#lets load previous day data to analysis the data
csv_path = input('Enter the previous leads csv file path with file name : ')
previous_lead = pd.read_csv(csv_path)
previous_lead

Enter the previous leads csv file path with file name : today-04-05-2023.csv

,Unnamed: 0,Company Name,Designation,Date/Day,Job Advert
0,0,Ageas,JavaScript Web Developer,Posted 6 days ago,https://uk.indeed.com/rc/clk?jk=a82bad7d143864...
1,1,University of Cambridge,Junior Software Developer,Posted 10 days ago,https://uk.indeed.com/rc/clk?jk=3f97449ee84f96...
2,2,Certus Technology Associates,Software Developer,Posted 13 days ago,https://uk.indeed.com/rc/clk?jk=ec31541484e7eb...
3,3,Thales,Graduate Software Engineer - Java,Posted 6 days ago,https://uk.indeed.com/rc/clk?jk=97e0bc681d9854...
4,4,Pearson Carter,Backend Developer Full Time Permanent,Posted 13 days ago,https://uk.indeed.com/rc/clk?jk=f135e19d5a8d95...
...,...,...,...,...,...
637,637,The Ohub,Front End Developer,Posted 1 day ago,https://uk.indeed.com/company/The-Ohub/jobs/Fr...
638,638,Dizplai,Front End Developer,Posted 1 day ago,https://uk.indeed.com/company/Never.no/jobs/Fr...
639,639,SLRIT SOLUTIONS,Java Developer,Today,https://uk.indeed.com/company/SLRIT-SOLUTIONS/...
640,640,Drumgrange Ltd,Software Engineer,Posted 1 day ago,https://uk.indeed.com/rc/clk?jk=f177ade0fb2fbd...
641,641,Strategic People,Software Developer,Posted 8 days ago,https://uk.indeed.com/rc/clk?jk=b13aa9c8dbf5b8...

In [23]:
#let add both the data
new_lead = pd.concat([previous_lead, lead_data])

In [24]:
new_lead.head(10)

,Unnamed: 0,Company Name,Designation,Date/Day,Job Advert
0,0.0,Ageas,JavaScript Web Developer,Posted 6 days ago,https://uk.indeed.com/rc/clk?jk=a82bad7d143864...
1,1.0,University of Cambridge,Junior Software Developer,Posted 10 days ago,https://uk.indeed.com/rc/clk?jk=3f97449ee84f96...
2,2.0,Certus Technology Associates,Software Developer,Posted 13 days ago,https://uk.indeed.com/rc/clk?jk=ec31541484e7eb...
3,3.0,Thales,Graduate Software Engineer - Java,Posted 6 days ago,https://uk.indeed.com/rc/clk?jk=97e0bc681d9854...
4,4.0,Pearson Carter,Backend Developer Full Time Permanent,Posted 13 days ago,https://uk.indeed.com/rc/clk?jk=f135e19d5a8d95...
5,5.0,Pearson Carter,Front-End Developer Full Time Permanent,Posted 6 days ago,https://uk.indeed.com/rc/clk?jk=5e798f72b506ca...
6,6.0,EQUILENT FINANCIAL,Web Developer (min 2 Years Experience),Posted 3 days ago,https://uk.indeed.com/rc/clk?jk=ba3df87efe2a1f...
7,7.0,Preservica,Front End Software Engineer - React,Posted 1 day ago,https://uk.indeed.com/rc/clk?jk=1e494a1978ce5c...
8,8.0,Apexon,Graduate Developer (September 2023 Intake),Posted 7 days ago,https://uk.indeed.com/rc/clk?jk=c13ff81b1a99c3...
9,9.0,Yorkshire Building Society,Front-End Low Code Developer,Today,https://uk.indeed.com/rc/clk?jk=44fc5351c1812a...

In [26]:
#checking duplicates so that we can should know more anbout our data.
duplicate = new_lead.duplicated(subset = ['Company Name']).value_counts()

duplicate

True     889
False    449
dtype: int64

In [27]:
new_lead = new_lead.drop_duplicates(subset = ['Company Name'], keep = False)
#keeping False would help us to remove all the depulicate only fresh lead will remain
new_lead

,Unnamed: 0,Company Name,Designation,Date/Day,Job Advert
2,2.0,Certus Technology Associates,Software Developer,Posted 13 days ago,https://uk.indeed.com/rc/clk?jk=ec31541484e7eb...
6,6.0,EQUILENT FINANCIAL,Web Developer (min 2 Years Experience),Posted 3 days ago,https://uk.indeed.com/rc/clk?jk=ba3df87efe2a1f...
13,13.0,Opply,Frontend Developer (StartUp),Posted 1 day ago,https://uk.indeed.com/rc/clk?jk=72dacfc1d52a50...
19,19.0,West-Norfolk,Web Developer,Posted 7 days ago,https://uk.indeed.com/rc/clk?jk=604a2253d8c92e...
24,24.0,CoinCorner,Software Developer,Posted 1 day ago,https://uk.indeed.com/rc/clk?jk=1414197dc0689a...
...,...,...,...,...,...
454,NaN,Hashicorp,"Sr. Security Engineer II, Cloud Infrastructure...",Posted 10 days ago,https://uk.indeed.com/rc/clk?jk=407d24954d8bf2...
455,NaN,Deloitte,"Azure DevOps Engineer, (Consultant/Senior Cons...",Today,https://uk.indeed.com/rc/clk?jk=2776b807cad1df...
457,NaN,INTERNATIONAL POWER LTD.,Cloud Infrastructure Engineer - Leeds,Posted 2 days ago,https://uk.indeed.com/rc/clk?jk=34ed2ed5c1b7c1...
466,NaN,Tableau,"Lead Pre-Sales Solution Engineer, BI & Analyti...",Posted 2 days ago,https://uk.indeed.com/rc/clk?jk=cdab0f789a7559...
479,NaN,D.C. Thomson & Co. Ltd.,Principal Cloud Engineer,Posted 11 days ago,https://uk.indeed.com/rc/clk?jk=41a3768004420a...

In [28]:
new_file_name = input('Put the new file name with .csv ext: ')
new_lead.to_csv(new_file_name)
#final sheet after removing all duplicates.

Put the new file name with .csv ext: finalsheet.csv

Scope of the project:

We can use this project to generate  Leads for the business, 
this project can be very helpful for staffing, and recruitment companies and candidates who are searching for jobs.
With little changes, we can scrape data from any website.